﻿@model RestoTuto.Models.RestoList


    <div class="modal-body" id="myModal" style="background-color:snow">
        @using (Html.BeginForm("UpdateRestos", "Home", FormMethod.Post, new {id = "AddResto", enctype = "multipart/form-data" }))
        {
        <fieldset>
            <legend>Restaurant</legend>


            @Html.TextBoxFor(model => model.Resto.Id, new { @hidden = "hidden" })

            <div class="row" style="margin-bottom: 5px">
                <label class="col-sm-4">
                    @Html.LabelFor(model => model.Resto.Nom)
                </label>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Resto.Nom)
                </div>
            </div>
            <div class="row" style="margin-bottom: 5px">
                <label class="col-sm-4">
                    @Html.LabelFor(model => model.Resto.Telephone)
                </label>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Resto.Telephone)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-success" style="width:135px;">Ajouter</button>
                </div>
            </div>

        </fieldset>
        }

    </div>
