﻿@model RestoTuto.Models.Resto

<div class="row" style="margin-bottom: 5px">
    <label class="col-sm-4">
        @Html.LabelFor(model => model.Nom)
    </label>
    <div class="col-sm-4">
        @Html.DisplayFor(model => model.Nom)
    </div>
</div>
<div class="row" style="margin-bottom: 5px">
    <label class="col-sm-4">
        @Html.LabelFor(model => model.Telephone)
    </label>
    <div class="col-sm-4">
        @Html.DisplayFor(model => model.Telephone)
    </div>
</div>
