﻿@model RestoTuto.Models.RestoList
@{
    WebGrid webGrid = new WebGrid(source: Model.ObtientTousLesRestaurants(), rowsPerPage: 100);
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Je suis la vue Index
    </div>
    <br />
    <br />
    <button class="btn btn-primary" style="col-sm-1" onclick="location.href='@Url.Action("CreateResto", "Home")'">Ajouter</button>
    <input type="submit" data-toggle="modal" data-target="#myModal" value="Search" />
    <a href="javascript:void(0);" class="addData">Add</a>
    <input type="button" id="btnAdd" value="AddResto" />

    <div id='myModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>

    </div>

    <div>
        @{
            Html.RenderPartial("CreateResto");
        }
    </div>
    <div class="row">
        <div style="float: left">
            <a href=" @Url.Action("Index" , "Messagerie")"><img src="~/Images/bouton-message-2.png" class="img-center" height="60" , width="60" /></a>
        </div>

        <div style="float: right">
            <h3>Fréquentation</h3>
            <br />
            <a href=" @Url.Action("Index" , "Home")"><img src="~/Images/bouton-vert.png" class="img-center" height="60" , width="60" /></a>
            <a href=" @Url.Action("Index" , "Home")"><img src="~/Images/bouton-orange.png" class="img-center" height="60" , width="60" /></a>
            <a href=" @Url.Action("Index" , "Home")"><img src="~/Images/bouton-rouge.png" class="img-center" height="60" , width="60" /></a>

        </div>

    </div>
    <div class="row"><br /><br /></div>
    <div class="row">
        <div style="width: auto; float:left">
            @webGrid.GetHtml(
                tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "webgrid-row-style",
                columns: webGrid.Columns(
                 webGrid.Column("Id"),
                 webGrid.Column("Nom"),
                 webGrid.Column("Telephone"),
                 webGrid.Column("Select", null, format: @<text>@item.GetSelectLink("Select")</text>))
)
        </div>
        <div style="width:auto; height: auto; float:right;">
            <div style="vertical-align:central; ">
                @if (webGrid.HasSelection)
                {
                    int restaurantId = (webGrid.SelectedRow.Value).Id;
                    Html.RenderAction("Details", new { restoId = restaurantId });
                }
            </div>
        </div>
    </div>
        <br />
        <br />
    <div class="row">
        @Html.Label("estMajeur", "Cochez la case si vous êtes majeur")
        @Html.CheckBox("estMajeur", true)
        <input type="submit" value="Envoyer" />
        <br />
        <label for="estMajeur">Cochez la case si vous &#234;tes majeur</label>
        <input checked="checked" id="estMajeur" name="estMajeur" type="checkbox" value="true" /><input name="estMajeur" type="hidden" value="false" />
        <input type="submit" value="Envoyer" />
    </div>
    <br />
    <div>
        @Html.DropDownListFor(model => model.RestoName, Model.RestosNames, new { @class = "form-control" })
    </div>

    <br />
    <br />

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">Open Modal</button>

    <!-- Modal -->
    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body" id="myModal2" style="background-color:snow">
                    @using (Html.BeginForm("UpdateRestos", "Home"))
                    {
                    <fieldset>
                        <legend>Restaurant</legend>


                        @Html.TextBoxFor(model => model.Resto.Id, new { @hidden = "hidden" })

                        <div class="row" style="margin-bottom: 5px">
                            <label class="col-sm-4">
                                @Html.LabelFor(model => model.Resto.Nom)
                            </label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.Resto.Nom)
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px">
                            <label class="col-sm-4">
                                @Html.LabelFor(model => model.Resto.Telephone)
                            </label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.Resto.Telephone)
                            </div>
                        </div>
                        <div class="row">
                            <input type="submit" value="send data" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div>

                    </fieldset>
                    }

                </div>


            </div>

        </div>
    </div>
</body>
</html>
